<div class="container">
  <header class="header">
    <div class="title-container">
      <h1>Bienvenidos a la Guía de Tunja</h1>
    </div>
    <nav class="nav">
      <div class="nav-link-container">
        <a class="nav-link" href="#">Inicio</a>
        <div class="dropdown-menu">
          <a href="#">Subopción 1</a>
          <a href="#">Subopción 2</a>
        </div>
      </div>
      <div class="nav-link-container">
        <a class="nav-link" href="#">Mapa</a>
        <div class="dropdown-menu">
          <a href="#">Subopción 1</a>
          <a href="#">Subopción 2</a>
        </div>
      </div>
      <div class="nav-link-container">
        <a class="nav-link" href="#">Turismo</a>
        <div class="dropdown-menu">
          <a href="#">Subopción 1</a>
          <a href="#">Subopción 2</a>
        </div>
      </div>
      <div class="nav-link-container">
        <a class="nav-link" href="#">Inicio</a>
        <div class="dropdown-menu">
          <a href="#">Subopción 1</a>
          <a href="#">Subopción 2</a>
        </div>
      </div>
      <div class="nav-link-container">
        <a class="nav-link" href="#">Inicio</a>
        <div class="dropdown-menu">
          <a href="#">Subopción 1</a>
          <a href="#">Subopción 2</a>
        </div>
      </div>
      <!-- Agrega más botones con menús si es necesario -->
    </nav>
    
    <div class="discover-container">
      <a href="#pagina1" class="discover-link">
        <span class="left-arrow material-icons animate__animated animate__shakeY">arrow_downward</span>
        <span class="discover-text">DESCUBRE AQUÍ</span>
        <span class="right-arrow material-icons animate__animated animate__shakeY">arrow_downward</span>
      </a>
    </div>

  </header>

  <main id="pagina1" class="main-content">
    
  </main>

  

 

  <footer class="footer">
    <p>&copy; 2024 Guía de Tunja. Todos los derechos reservados.</p>
  </footer>
</div>
